.actions {
    position: absolute;
    top: 80px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.editButton, .deleteButton {
    width: 78px;
    height: 31.1px;
    background-color: transparent;
    border-radius: 5px;
}

.deleteButton {
    border: 1px solid #F5222D;
    color: #F5222D;
}

.editButton{
    border: 1px solid rgba(82, 196, 26, 1);
    color: rgba(82, 196, 26, 1);
}

.modalPosition{
    position: absolute;
    top: -10px;
    right: -160px;
}

.markdown img{
    width: 100%;
}
