.form{
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    background-color: white;
    width: 390px;
    border-radius: 10px;
    padding: 20px 34px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0 25px 0;
}

.checkboxLabel{
    width: 320px;
    display: flex;
    margin-top: 5px;
    padding-top: 12px;
    border-top: 1px solid #E8E8E8;
    margin-bottom: 10px;
}
.checkboxLabel input{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 4px;
}
.checkboxLabel span {
    width: 300px;

}

 .errorCheckbox:before {
     content: "";
     display: block;
     position: absolute;
     width: 16px;
     height: 16px;
     border: 2px solid red;
     border-radius: 3px;
     margin-right: 7px;
 }

 .linkText{
     margin-top: 10px;
 }

.linkText a{
    color:  #1890FF;
}